/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
div p {
  font-size: 8rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
  height: 400px;
}
