* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    font-size: 1.8rem;
}

img {
    width: 10%;
}

header {
    float: left;
    width: 20%;
}

section {
    float: left;
    width: 60%;
    height: 50vh;
}

.author-span {
    clear: both;
    float: left;
    color: green;
}

section img {
    clear: both;
    float: left;
    width: 50%;
}

aside {
    float: right;
    width: 20%;
}

aside>ul>li {
    clear: both;
    float: left;
    list-style-type: none;
}

article {
    /* background-color: aquamarine; */
    height: 20rem;
    clear: both;
}

article h4 {
    clear: both;
    color: red;
}

.bottom-title-info {
    width: 30%;
}

.bottom-title-info h3 {
    float: left;
    clear: both;
}

.bottom-title-info span {
    float: left;
    clear: both;
}

.wrapper {
    width: 30%;
    height: 18rem;
    margin: 0 auto;
    background-color: #bebebe;
}

.wrapper p {
    width: 100%;
}

.bottom-image {
    width: 100%;
    /* background-color: blue; */
    float: right;
    margin-top: -18rem;
}

.bottom-image img {
    
    width: 30%;
    float: right;
    clear: both;
    background-color: lightgreen;
}