/* colors:
#cee6fa; light blue
#191a18; black
#f6d72b; yellow
#4e5f5c; green
https://huemint.com/website-2/#palette=cee6fa-191a18-f6d72b-4e5f5c

Dark blue - #252d39;
Gold - #9b6a48;
Peach - #c78e68;
Lilac - #d4bbad;
https://huemint.com/back-gradient-3/#palette=252d39-9b6a48-c78e68-d4bbad
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', 'Helvetica', sans-serif;
    background-color: #252d39;
    color: #d4bbad;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container header {
    align-self: flex-end;
    margin-right: 2em;
}

.intro-container {
    margin: 2em 2em 0 2em;
}

.my-name {
    color: #4e5f5c;
}

.intro-text {
    margin: 1em;
    width: 50%;
}

.intro-text p:last-child {
    color: red;
    margin: 1em 0;
}





.projects {
    display: flex;
    flex-direction: column;
}

.projects h3 {
    margin: 1em;
    text-align: center;
    color: #9b6a48;
}

.card-container {
    display: flex;
    justify-content: center;
}

.project-card {
    background: #c78e68;
    padding: 1em;
    margin: 1em 2em;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.card-img {
    width: 50%;
    background: #c78e68;
}
/* Maybe a pseudo-element to slide up more information over the image, i.e. live site vs code link */

.card-text {
    width: 50%;
    font-size: 1em;
    background: #c78e68;
}

.project-desc {
    color: orange;
    background: #c78e68;
}

.project-problem {
    color: teal;
}

.project-solved {
    color: red;
}

.project-thoughts {
    color: blue;
}


/* .about-me {
    
} */





footer {
    border: green 1px solid;
    text-align: center;
}

footer span {
    display: block;
    margin: 1rem;
}

.icon-container {
    margin-bottom: 1rem;
}

.social-icon {
    font-size: 2rem;
    margin: 0 1rem;
}

.social-icon:hover {
    color: green;
    transform: scale(125%);
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    .card-container {
        flex-direction: column;
    }
}
