* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  /* display: flex; */
}

header>nav {
  flex-wrap: column nowrap;
  width: 100%;
}

header>nav>ul {
  width: 15rem;
}

header>nav>ul>li.TC-logo img {
  width: 75%;
}

header>nav>ul>li:nth-child(4) {
  color: red;
}

.nav-search>input {
  width: 75%;
}

.nav-search img {
  width: 15%;
  vertical-align: middle;
}

.author-span {
  color: green;
}

aside {
  clear: both;
}

article {
  display: flex;
}

img {
  width: 50%;
}