* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(197, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    /* height: 100vh; */
}

nav {
    display: flex;
    justify-content: space-evenly;
    border: solid 2px #000;
}

nav div {
    border-left: solid 2px #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

nav div:first-child {
    border-left: none;
}

.header-date {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hero-img {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.hero-img img {
    padding: 0.5rem;
    width: 50%;
    height: auto;
}

.duo {
    display: flex;
    width: 50%;
    height: auto;
    padding-left: 1rem;
}

.quad {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    padding-right: 1rem;
}

h3 {
    padding: 1rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    padding: 1rem;
}

.cards img {
    height: 100%;
    width: 100%;
    padding: 1rem;
}