* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #79caed;
}

main {
    border: 3px solid #00e22f;
    margin: 3rem;
    color: #fff;
    padding: 2em;
    /* font-family: 'Lato', Arial, serif; */
}

h1 {
    text-align: center;
    font-style: italic;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
}

.header-ul {
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.header-ul li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1rem;
}

.header-ul li:first-child {
    border-right: 1px solid #7d939c;
}

.header-ul li:last-child {
    border-left: 1px solid #7f7f7f;
}

a {
    color: #00d99a;
}

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.leon-logo img {
    width: 25%;
    height: 25%;
}

.social-links {
    display: flex;
    justify-content: center;
    color: #00d999;
    font-weight: 900;
}

.social-links li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1rem;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7d939c;
}

.social-links li:first-child {
    border-left: none;
}

.social-links li:last-child {
    border-right: none;
}