* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer {
    border: 2px solid blue;
    height: 200px;
    clear: both;
}

section {
    border: 2px solid lightgreen;
    height: 500px;
    width: 20%;
    float: left;
}

section:nth-of-type(2) {
    border: 2px solid orange;
    width: 40%;
}