* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer {
    border: 2px solid purple;
    height: 100px;
    clear: both;
}

header {
    border-bottom: 1px solid purple;
}

section {
    border: 2px solid purple;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    height: 300px;
    width: 100%;
    float: left;
}

article {
    border: 2px solid purple;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    width: 35%;
    height: 300px;
    float: left;
}

article:first-of-type {
    border-right: 1px solid purple;
}

article:last-of-type {
    width: 65%;
    height: 300px;
    float: left;
    border-left: 1px solid purple;
}

footer {
    border-top: 1px solid purple;
}