*{
  box-sizing: border-box;
<<<<<<< HEAD
  margin: 0;
  padding: 0;
=======
  padding: 0;
  margin: 0;
>>>>>>> 686b1189b4157ad3cf5ab279a9ad2ca7bcb9f162
}

h1 {
  text-align: center;
}

.display {
  display: block;
  text-align: center;
  height: 6rem;
  line-height: 6rem;
  font-size: 6rem;
  color: forestgreen;
}
